# Example env, copy and create your own .env in this dir

#Section: Mail
UTILIDADES_API_MAIL__USERNAME=
UTILIDADES_API_MAIL__PASSWORD=
UTILIDADES_API_MAIL__HOST=
UTILIDADES_API_MAIL__PORT=

#Section: ConnectionStrings
UTILIDADES_API_CONNECTIONSTRINGS__REDIS=
UTILIDADES_API_CONNECTIONSTRINGS__DB=